*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: "Open Sans", sans-serif;
}

nav {
	position: sticky;
  	top: 0;
  	padding: 5px;
}

.nav-logo {
	position: sticky;
	float: left;
}

.right-nav {
	padding-right: 3rem;
	float: right;
}

.nav {
	padding-left: 1rem;
	padding-right: 1rem;
	display: inline-block;

}

.tuitt-button{
	color: white;
	background-color: #c2195b;
	display: inline-block;
	padding: 0 15px;
  	height: 40px;
 	line-height: 40px;
 	border-radius: 18px;

}

.apply-button {
	color: white;
	background-color: #c2195b;
	display: inline-block;
	padding: 0 15px;
	height: 40px;
	line-height: 40px;
	border-radius: 18px;
}

#bg-image{
	min-height: 20rem;
	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	background-repeat: no-repeat;
	background-size: 100%;	
	background-position: center;
}

.front-bg {
	/*min-height: 20rem;
	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	background-repeat: no-repeat;
	background-size: 100%;	background-position: center;*/
	/*background-color: black;
	opacity: 0.7;*/
	background: rgba(0,0,0,0.5) ;
	margin-top: 3rem;
}

.container {
	color: white;
	text-align: right;
	min-height: 20rem;
	padding-top: 3rem;
	padding-right: 5rem;
}

.subtitle {
	color: white;
	font-size: 1rem;
	padding: 1rem 1rem 1rem 50%;
}

.intro{
	padding: 5rem 20% 3rem;
	float: center;
	text-align: center;
	min-height: 30vh;
}

.intro-description {
	padding-top: 2rem;
	float: center;
}

.title {
	color: white;
	font-family: "Zilla Slab", sans-serif;
	font-size: 2rem;
}

.title-2 {
	font-family: "Zilla Slab", sans-serif;
	font-size: 2rem;
}

.pre-footer {
	padding: 5rem 20% 3rem;
	background-color: #f7fbfb;
	min-height: 20rem;
	text-align: center;
}

.prefooter-description {
	padding-top: 2rem;
	padding-bottom: 2rem;
	float: center;	
}

.book-button {
	color: white;
	background-color: #336589;
		display: inline-block;
		padding: 0 15px;
	  	height: 40px;
	 	line-height: 40px;
	 	border-radius: 18px;
}

footer {
	text-align: center;
}